<h2>Throw your choice and see if you can beat me!</h2>
  <p> Select your option</p>
    <button type = "button" name = "button">Rock</button>
    <button type = "button" name = "button">Paper</button>
    <button type = "button" name = "button">Scissors</button>
