<!DOCTYPE html>
  <html lang='en'>
    <head>
      <title>Rock Paper Scissors</title>
    </head>

    <body>
      <h1><p style="padding: 10px; border: 2px solid red;text-align:center;">Hi there! Welcome to Rock Paper Scissors game!</p></h1>
        <%= yield %>
    </body>
  </html>
