<h2> Awesome <%= @player_name %>, shall we start now?</h2>
<h3>You have decided to play <%= @rounds %> rounds.</h3>

  <a href = "/game">
    <button type = "button" name = "button">Start</button>
  </a>
