<h2> Awesome <%= @player_name%>, shall we play a game?</h2>

<form action = "/menu" method = "post">
  <a href = "/game">
    <button type = "button" name = "button">Start</button>
  </a>
</form>
