<p><%= @computer_answer %></p>
<p><%= @result %></p>

<a href='/play/throw/Rock'>
    <button type = "button" name = "button">Rock</button>
</a>
<a href='/play/throw/Paper'>
    <button type = "button" name = "button">Paper</button>
</a>
<a href='/play/throw/Scissors'>
    <button type = "button" name = "button">Scissors</button>
</a>
