<p><%= @computer_answer %></p>
<p><%= @result %></p>

<a href='play/throw/rock'>
    <button type = "button" name = "button">Rock</button>
</a>
<a href='play/throw/paper'>
    <button type = "button" name = "button">Paper</button>
</a>
<a href='play/throw/scissors'>
    <button type = "button" name = "button">Scissors</button>
</a>
