<h1>How many rounds would you like to play <%= @player_name %>?</h1>

<form action = "/rounds" method = "post">
  <input type = "number" name = "rounds">
  <input type = "submit" name="" value = "Submit">
</form>
