<h1>Here's your results</h1>
<%= @result %>
  <p>Win: <%= @win_result %></p>
  <p>Lose: <%= @lose_result %></p>
  <p>Tie: <%= @tie_result %></p>

<p>What do you wanna do now?</p>
<a href='/leaderboard'>
  <button type = "button" name = "button">View leaderboard</button>
</a>

<a href='/'>
  <button type = "button" name = "button">New player</button>
</a>

<a href='/'>
  <button type = "button" name = "button">New game</button>
</a>
